<a href="https://colab.research.google.com/github/SouzaLayse/PDI_CC_UNIT/blob/main/Aula02_Revis%C3%A3o_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**UNIT - Curso de Computação**

Processamento de Imagens de Computação Gráfica

Profª. Layse Santos Souza

### **Aula 02 - Python Basics**

# **LISTAS**

Um conjunto de valores ou variáveis (estrutura sequencial indexada)

* Cada valor é identificado por meio de um índice

* Pode conter variáveis de tipos diferentes, ou também outras listas

* Organiza variáveis 

* Acesso fácil a qualquer elemento da lista

* Utilizadas para armazenar várias variáveis com funções parecidas

* O primeiro valor tem índice 0

Para criar uma lista declaramos da seguinte forma:

```
Lista = [valor1, valor2, ..., valorN]
```

In [ ]:
Lista = [9, [5, 6, 7], 'python', 12.3,  ('x', 21), 'teste']

print(Lista)

[9, [5, 6, 7], 'python', 12.3, ('x', 21), 'teste']

Para verificar o valor de cada índice da lista

In [ ]:
print(Lista[0])

9

In [ ]:
print(Lista[1])

[5, 6, 7]

In [ ]:
print(Lista[2])

python

In [ ]:
print(Lista[3])

12.3

In [ ]:
print(Lista[4])

('x', 21)

In [ ]:
print(Lista[5])

teste

Para criar uma lista com valores de intervalo utilizamos as funções list() e range()

A função range() pode ser: 

* range(n) -> gera um intervalo de 0 a n-1

* range(i, n) -> gera um intervalo de i a n-1

* range(i, n, p) -> gera um intervalo de i a n-1 com intervalo p entre os números

In [ ]:
Lista1 = list(range(6))
print(Lista1)

[0, 1, 2, 3, 4, 5]

In [ ]:
Lista2 = list(range(2,10))
print(Lista2)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Lista3 = list(range(2,12,2))
print(Lista3)

[2, 4, 6, 8, 10]

Fazer uma atribuição de valor através do índice

In [ ]:
Lista = [9, [5,6,7], 'python', 12.3, ('x', 21), 'teste']

Lista[5] = 'aula'

print(Lista)

[9, [5, 6, 7], 'python', 12.3, ('x', 21), 'aula']

In [ ]:
Lista[6] = 'noite'

IndexError: ignored

*Métodos para manipular strings:*

* Retornar o tamanho da lista -> len()

In [ ]:
Lista = [1,2,3,4,5]
len(Lista)

5

* Retornar o menor valor da lista -> min()

In [ ]:
lista = [21,10,19,4,16]
min(lista)

4

* Retornar o maior valor da lista ->  max()

In [ ]:
lista = [21,10,19,4,16]
max(lista)

21

* Retornar a soma dos elementos da lista -> sum()

In [ ]:
lista = [21,10,19,4,16]
sum(lista)

70

* Adicionar um novo valor na no final da lista -> append()

In [ ]:
lista = [21,10,19,4,16]
lista.append(30)

print(lista)

[21, 10, 19, 4, 16, 30]

* Inserir uma lista no final de outra lista -> extend()

In [ ]:
lista = [1,2,3,4,5]
lista.extend([6,7,8,9,10])

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* Remover um elemento da lista informamos seu índice -> del

In [ ]:
lista = [1,2,3,4,5]
del lista[2]

print(lista)

[1, 2, 4, 5]

* Verificar se um valor pertence à lista -> in

In [ ]:
lista = [1,2,3,4,5]
2 in lista

True

In [ ]:
6 in lista

False



*   Inserir elementos em posições específicas da lista -> insert()

In [ ]:
lista = ['L','G','R']
lista.insert(1,'U')
lista.insert(3,'A')

print(lista)

['L', 'U', 'G', 'A', 'R']



*   Remover elementos em uma lista -> remove()

In [ ]:
lista = ['U','V','A']
lista.remove('U')

print(lista)

['V', 'A']

* Ordenar em ordem crescente -> sort()

In [ ]:
lista = [21,10,19,4,30,16]
lista.sort()

print(lista)

[4, 10, 16, 19, 21, 30]

* Ordenar uma cópia de uma lista -> sorted()

In [ ]:
lista = [-5,7,2,18,21,10]
print (lista)

[-5, 7, 2, 18, 21, 10]

In [ ]:
listaCopia = sorted(lista)
print(listaCopia)

[-5, 2, 7, 10, 18, 21]

In [ ]:
print('Lista original:', lista)
print('Lista copiada:', listaCopia)

Lista original: [-5, 7, 2, 18, 21, 10]
Lista copiada: [-5, 2, 7, 10, 18, 21]

* Inverter os elementos de uma lista (ordem decrescente) -> reverse()

In [ ]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista.reverse()

print(lista)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

* Copíar uma lista sem manter a referência entre elas -> [:]

In [ ]:
lista_a = [1,2,3,4]
lista_b = lista_a [:]

print('Lista a:', lista_a)
print('Lista b:', lista_b)

Lista a: [1, 2, 3, 4]
Lista b: [1, 2, 3, 4]

* Extrair apenas uma parte dos elementos da lista utilizamos o limite inferior e e limite superior -1 

```
lista[limite_inferior : limite_superior -1]
```

In [ ]:
lista = [9,[5,6,7], 'python',12.3,('x',21),'teste']

print(lista)

[9, [5, 6, 7], 'python', 12.3, ('x', 21), 'teste']

In [ ]:
lista[1:4]

[[5, 6, 7], 'python', 12.3]

In [ ]:
lista[2:]

['python', 12.3, ('x', 21), 'teste']

In [ ]:
lista[ :4]

[9, [5, 6, 7], 'python', 12.3]

* Concatenar listas (+)

In [ ]:
a = [0,1,2]
b = [3,4,5]
c = [6,7,8]

lista = a + b + c

print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

* Repetir listas (*)

In [ ]:
lista = (1,2,3,4)
repetirLista = lista * 3

print (repetirLista)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

* Converter uma string em uma lista -> list()

In [ ]:
lista = list('Qualquer lugar')

print(lista)

['Q', 'u', 'a', 'l', 'q', 'u', 'e', 'r', ' ', 'l', 'u', 'g', 'a', 'r']

* Converter uma lista em uma string -> join()

In [ ]:
lista = ['a', 'r', 'a', 'r', 'a']

print(''.join(lista))

arara

# **TUPLAS**

* Conjunto sequencial de valores, onde cada valor é identificada através de um índice

```
tupla = (valor1 , valor2, ..., valorN)
```

In [ ]:
tupla = (1,2,3,4,5,6,7,8,9,10)

print(tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
print(tupla[4])

5

* Atribuir os elementos armazenados em uma tupla a diversas variáveis

In [ ]:
tupla = (17, 11, 19, 10, 28)
a, b, c, d, e = tupla

print(tupla)

(17, 11, 19, 10, 28)

In [ ]:
print('a =', a)

a = 17

In [ ]:
print('b =', b)

b = 11

In [ ]:
print('c =', c)

c = 19

In [ ]:
print('d =', d)

d = 10

In [ ]:
print('e =', e)

e = 28

In [ ]:
print('a + b =', a+b)

a + b = 28

# **DICIONÁRIOS**

* Conjunto de valores, onde cada valor é associado a uma chave de acesso


```
Dicionario = {chave1:valor1,
              chave2:valor2,
                   ...
              chaveN:valorN}
```

**EXEMPLO:** Notas de alunos

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}

print(dicionario_notas)

{'José': 6.5, 'Maria': 10, 'João': 4.5, 'Ana': 9.5}

In [ ]:
print(dicionario_notas['Maria'])

10

* Para modificar valores no dicionario informamos a chave 
* Para acrescentar informamos a chave e o valor

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}

dicionario_notas['José'] = 8.5
dicionario_notas['Pedro'] = 6.5

print(dicionario_notas)

{'José': 8.5, 'Maria': 10, 'João': 4.5, 'Ana': 9.5, 'Pedro': 6.5}

* Excluir um item informado a chave -> del

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}

del dicionario_notas['João']

print(dicionario_notas)

{'José': 6.5, 'Maria': 10, 'Ana': 9.5}

* Verificar se uma chave existe no dicionário -> in

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}

'Maria' in dicionario_notas

True

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}
'Pedro' in dicionario_notas

False

* Obter chaves de um dicionário -> keys()

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}

dicionario_notas.keys()

dict_keys(['José', 'Maria', 'João', 'Ana'])

* Obter os valores de um dicionário -> values()

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}

dicionario_notas.values()

dict_values([6.5, 10, 4.5, 9.5])

* Retornar um outro dicionário com as mesmas chaves e valores de um dicionário -> copy()

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}
print(dicionario_notas)

{'José': 6.5, 'Maria': 10, 'João': 4.5, 'Ana': 9.5}

In [ ]:
dicionario = dicionario_notas.copy()
print(dicionario)

{'José': 6.5, 'Maria': 10, 'João': 4.5, 'Ana': 9.5}

* Atualizar um dicionário com os elementos de outro dicionário -> update()

In [ ]:
dicionario_notas = {'José': 6.5, 'Maria': 10, 'João': 4.5 , 'Ana': 9.5}
print(dicionario_notas)

{'José': 6.5, 'Maria': 10, 'João': 4.5, 'Ana': 9.5}

In [ ]:
dicionario_novosAlunos = {'Pedro':8.5, 'Carla':7.5}
print(dicionario_novosAlunos)

{'Pedro': 8.5, 'Carla': 7.5}

In [ ]:
dicionario_notas.update(dicionario_novosAlunos)
print(dicionario_notas)

{'José': 6.5, 'Maria': 10, 'João': 4.5, 'Ana': 9.5, 'Pedro': 8.5, 'Carla': 7.5}

* Remover todos os elementos do dicionário -> clear()

In [ ]:
x = {'X':1, 'Y':2, 'Z':3}

print(x)

{'X': 1, 'Y': 2, 'Z': 3}

In [ ]:
x.clear()

print(x)

{}

* Os valores podem ser de diferentes tipos

In [ ]:
dicionario = {1:'a', 4:[1,2,3],8:('x','y','z'),2:11.49}

In [ ]:
print(dicionario)

{1: 'a', 4: [1, 2, 3], 8: ('x', 'y', 'z'), 2: 11.49}

In [ ]:
print(dicionario[1])

a

In [ ]:
print(dicionario[4])

[1, 2, 3]

In [ ]:
print(dicionario[8])

('x', 'y', 'z')

In [ ]:
print(dicionario[2])

11.49

# **ESTRUTURAS DE DECISÃO**


Alteram o curso de fluxo de execução de um programa

```
if (se)
if ... else (se ... então)
if ... elif (se ... senão ... senão se)
```

* **IF** -> condição para o trecho do código que será executado tenha o valor da condição se for verdadeiro

```
if<condição>:
  <comandos da condição verdadeira>
```

**Exemplo:** Criar um programa onde o usuário informa a idade e o programa retorna se o usuário pode dirigir

In [ ]:
idade = int(input("Informe sua idade: "))
if idade < 18:
   print("Você ainda não pode dirigir!")

Informe sua idade:  17
Você ainda não pode dirigir!

* **IF...ELSE** -> Condição para o trecho do código que será executado tenha o valor da primeira consição verdadeiro e a segunda condição falso

```
if<condição>:
  <comandos da condição verdadeira>
else:
   <comandos da condição falsa>
```

**Exemplo:** Criar um programa onde o usuário informa a idade e o programa retorna se o usuário pode dirigir

In [ ]:
idade = int(input("Informe sua idade: "))
if idade < 18:
    print("Você ainda não pode dirigir!")
else:
    print("Parabéns! Você pode dirigir!")

Informe sua idade: 17
Você ainda não pode dirigir!

In [ ]:
idade = int(input("Informe sua idade: "))
if idade < 18:
    print("Você ainda não pode dirigir!")
else:
    print("Parabéns! Você pode dirigir!")

Informe sua idade: 20
Parabéns! Você pode dirigir!

* **IF...ELIF...ELSE** -> Diversas condições, e cada condição está a associada a um trecho do código

```
if<condição1>:
  <comandos1>
elif<condição2>
    <comandos2>
     ...
else:
     <comandos default>
```

**Exemplo:** Criar um programa onde o usuário informa a idade e o programa retorna se o usuário pode dirigir

In [ ]:
idade = int(input("Informe sua idade: "))
if idade < 10:
   print("Você ainda não pode dirigir. Você é uma criança!")
elif idade < 18:
   print("Quando complentar 18 anos você vai poder dirigir!")
elif idade > 60:
   print("Você está no melhor idade!")
else:
   print("Parabéns! Você pode dirigir!")

Informe sua idade: 35
Parabéns! Você pode dirigir!

# **ESTRUTURAS DE REPETIÇÃO**

* Utilizadas para executar uma mesma sequência de comandos várias vezes

* Essas estruturas também são conhecidas como laços ou loops

* Estão associadas ou a uma condição ou a uma sequência de valores

* ***Condição (while)*** -> o trecho de código da repetição está associado a uma condição

Enquanto a condição tiver valor ***verdadeiro***, o trecho do ***código é executado***.

Quando a condição passar a ter valor ***falso***, a ***repetição termina***.

        while<condição>:
             <comandos>

**Exemplo:** Verificar se a senha de acesso está correta

In [ ]:
senha = '85246'
leitura = ''
while(leitura != senha):
    leitura = input('Digite a senha: ')
    if leitura == senha:
           print('Acesso liberado!')
    else:
           print('Senha incorreta. Tente novamente!')

Digite a senha: 1234
Senha incorreta. Tente novamente!
Digite a senha: 85246
Acesso liberado!

**Exemplo:** Encontrar a soma de 8 valores

In [ ]:
contador = 0
soma = 0

while contador < 8:
      contador = contador + 1
      valor = float(input('Informe o '+ str(contador)+ 'º valor: ' ))
      soma = soma + valor
print('A soma é = ', soma)

Informe o 1º valor: 11
Informe o 2º valor: 29
Informe o 3º valor: 18
Informe o 4º valor: 2
Informe o 5º valor: 56
Informe o 6º valor: 43
Informe o 7º valor: 77
Informe o 8º valor: 90
A soma é =  326.0

```
* Condição (for) -> o trecho de código da repetição é execitado para cada valor da sequência numérica com range() ou da associação a uma lista.

for<variável> in range (início, limite, passo):
    <comandos>    

for<variável> in <lista>:
        <comandos>

```

**Exemplo:** Encontar a soma de X= 1 + 5 + 9 + 13 + 17 + 21 + 25

In [ ]:
X= 0
for i in range(1,26,4):
  X = X + i
print('A soma é = ', X)

A soma é =  91

**Exemplo:** Calcular a média das quatro notas de um aluno ( 4.3, 6.6, 8, 9.5)

In [ ]:
notas = [4.3,6.6,8,9.5]
soma = 0

for i in notas:
  soma = soma + i
media = soma/len(notas)
print('A média das notas é: ', media)

A média das notas é:  7.1



> Comandos break e continue

* Comando ***break*** -> pode ser utilizado tanto para for quanto para while

**Exemplo:** Saber os números de 1 até 11 que são menores ou igual a 5

In [ ]:
numero = 0

for numero in range(1,12):
     if (numero >= 5):
         break
     print(numero)
print('Acabou!')

1
2
3
4
Acabou!

**Exemplo:**  Saber se um número é igual a outro número

In [ ]:
numero = 0

while numero < 10:
     print(numero)
     numero = numero + 1
     if numero == 7: 
        print('O número é igual a 7')
        break
print('Acabou!')

0
1
2
3
4
5
6
O número é igual a 7
Acabou!

* Comando ***continue*** -> pode ser utilizado tanto com for quanto com while

**Exemplo:** Saber os números de 1 até 11 que são menores ou igual a 5

In [ ]:
numero = 1

for numero in range(1,12):
     if (numero >= 5):
         continue
     print(numero)
print('Acabou!')

1
2
3
4
Acabou!

**Exemplo:**  Saber se um número é igual a outro número

In [ ]:
numero = 1

while numero <= 10:
  if numero == 7: 
    numero = numero + 1
    continue
  print(numero)
  numero = numero + 1
print('Acabou!')

1
2
3
4
5
6
8
9
10
Acabou!